/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

    font-family: "Space Mono", monospace;
}

a {
    color: black;
    text-decoration: none;
}

/* Header Styles */
header {
    height: 10vh;
    margin: auto;
    padding-inline: 3rem;
    max-width: 1440px;

    background-color: #FAFAFA;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
header div#brand {
    font-size: 24px;
    font-weight: bold;
}

/* Navegação */
header nav, header nav ul {
    height: 100%;
}

header nav ul {
    display: flex;
}

/* Menu */
header nav ul li {
    width: 10rem;
    display: flex;
}

header nav ul li a {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.3s;
}

header nav ul li a:hover {
    color: white;
    background-color: black;
}

/* Main */
/* Hero Section */
section#hero {
    height: 50vh;
    display: flex;
    background-color: #FAFAFA;

    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    max-width: 1440px;
    margin: auto;
}

section#hero div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-size: 12px;
    max-width: 450px;
}

section#hero div p a {
    color: white;
    background-color: #1d1d1d;

    padding: 4px 12px;
    border-radius: 16px;
    border: 2px solid #1d1d1d;
}

section#hero div p a.transparent {
    color: #1d1d1d;
    background-color: white;
}

section#hero img {
    height: 250px;
    align-self: self-end;
}

/* Feature Section */
section#features {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section#features div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    max-width: 250px;
    gap: 1rem;
    padding: 8px;
    background-color: #e8e8e8;

}

section#features div.card .icon img {
    width: 24px;
    height: 24px;
    

}